<div class="container">
    <div class="row center">
        <div class="col-md-6">
            <div class="left-content">
                <h1>GitHub Search</h1>
                <p>Discover detailed information about any GitHub user quickly and easily. View user details, repositories, and followers.</p>
                <a class="nav-link" [routerLink]="['searchuser']" ><button class="search-btn" >Search User</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/img_44605.png" alt="" class="right-image">
        </div>
    </div>
</div>

   

  